<% if current_user %>
  <div class="panel right">
    <h1>Rant your Rage</h1>
      <%= bootstrap_form_for @rant do |f|%>
    <div class="control-group">
      <%= f.text_area :content, skip_label:true, :size => "100x5", :placeholder => "Rant away..." %>
      <%= f.submit "Rant!", method: :post %>
    </div>
      <% end %>
  </div>
<% end %>

<div class="panel left">
  <h4>Your Rants</h4>
    <% @rants.reverse.each do |rant| %>
      <span><%= rant.content %></span><br>
      <span>Posted <%= time_ago_in_words(rant.created_at) %> ago</span>
      <br>
      <br>
      <% end %>
</div>

<h1>Other Rants</h1>

<div class="panel left">
  <div>
    <% @rants.reverse.each do |r| %>
    <% @users.each do |user| %>
      <%= user.name %> @<%= user.username %>
      <br>
      <%= r.content%>
      <br>
      Rants
      Followers
      Following
      <br>
      <br>
      <% end %>
    <%end%>
  </div>
</div>
