<% if current_user %>
  <div class="panel right">
    <h1>Rant your Rage</h1>
      <%= bootstrap_form_for @rant do |f|%>
      <%= f.text_area :content%>
      <%= f.submit "Rant!", method: :post %>
      <% end %>
  </div>
<% end %>

<h1>Your Rage Page</h1>

<div class="panel left">
  <h1>Your Rants</h1>
    <% @rants.reverse.each do |rant| %>
      <%= rant.content %>
      <%= time_ago_in_words(rant.created_at) %>
      <%= rant.content %>
      <br>
      <br>
      <% end %>
</div>

<h1>Other Rants</h1>

<div class="panel left">
  <div>
    <% @users.each do |user| %>
      <%= user.name %> @<%= user.username %>
      <br>
      <%= user.rants%>
      <br>
      Rants
      Followers
      Following
      <br>
      <br>
    <%end%>
  </div>
</div>
