<% if current_user %>
  <div class="panel right">
    <h1>Rant your Rage</h1>
    <p>
    <%= bootstrap_form_for @rant do |f|%>
      <%= f.text_area :content,skip_label:true, :size=> "100x5", :placeholder => "Rant away..."%><br>
      <%= f.submit "Rant!" %>
      <% end %>
    </p>
  </div>
<% end %>

<div class="panel left">
    <h1>Your Rage Page</h1>
    <br>

    <div>
      <%= link_to "Public Rants", rants_path %>
      <%= link_to "My Rant Timeline", friends_path %>
    </div>

    <div>
      <h4>Profile Info</h4>
        <p><%=@user.name %> has made <%= @user.rants.size %> rants</p>
        <span><%= @user.followers.count %> Followers</span>
        <span><%= @user.followeds.count %> Following</span>
        <p><%= @user.name %>'s first rant: <%= @user.rants.first.content %></p>
        <br>
    </div><br>

    <h3>Your Rants</h3>
    <% @rants.each do |rant| %>
      <br>
      <br>
      <span><%= rant.user.name %> @ <%=rant.user.username%></span><span>   Posted <%= time_ago_in_words(rant.created_at) %> ago</span><br>
      <br>
      <span><%= rant.content %></span><br>
      <br>
      <span><%= rant.user.followers.count %> Followers</span>
      <span><%= rant.user.followeds.count %> Following</span><br>

      <% if current_user && @user != current_user %>
        <% if current_user.following? @user %>
          <%= form_tag relationship_path, method: :delete do %>
            <%= submit_tag "Unfollow" %>
            <% end %>
        <% else %>
          <%= form_for @relationship do %>
            <%= hidden_field_tag :followed_id, @user.id %>
            <%= submit_tag "Follow" %>
            <% end %>
        <% end %>
      <% end %>
    <% end %>
    <br>

</div>
<%= paginate @rants %>
