<% if current_user %>
<div class="panel right">
    <h1>New to Rage Rant?</h1>
    <p>
    <%= bootstrap_form_for @rant do |f|%>
      <%= f.text_area :content, class="ranttext"%>
      <%= f.submit "Rant!" %>
    <% end %>
        <input type="submit" >
    </p>
</div>
<% end %>
<div class="panel left">
    <h1>Your Rage Page</h1>
    <div>
        <span class="name"><%= @user.name %></span> @<%= @user.username %>
        <p>
        <%= @user.rants.size %> Rants
        <span class="spacing">XX Followers</span>
        <span class="spacing">XX Following</span>
        </p>
    </div>
</div>
<div class="panel left">
    <h1>Your Rants</h1>
    <% @users.rants.each do |rant| %>
    <div>
      <span> <%= @user.name %></span>
      <%=@user.username%>
      <span><%= time_ago_in_words(rant.creatd_at) %></span>
        <p> <%= rant.content %></p>
    </div>
    <% end %>
</div>
