<% if current_user %>
  <div class="panel right">
    <h1>Rant your Rage</h1>
    <p>
    <%= form_for @rant do |f|%>
      <%= f.text_area :content,skip_label:true, :size=> "100x5", :placeholder => "Rant away..."%><br>
      <%= f.submit "Rant!" %>
      <% end %>
    </p>
  </div>
<% end %>

<div class="panel left">
    <h1>Your Rage Page</h1>
    <br>

    <div>
      <%= link_to "Public Rants", rants_path %>
      <%= link_to "My Rant Timeline", friends_path %>
    </div>

    <div>
      <h4>Profile Info</h4>
        <p><%=current_user.name %> has made <%= current_user.rants.size %> rants</p>
        <span><%= current_user.followers.count %> Followers</span>
        <span><%= current_user.followeds.count %> Following</span>
        <p><%=current_user.name %>'s first rant: <%= current_user.rants.first.content %></p>
        <br>
    </div><br>

    <h3>Your Rants</h3>
    <div>
        <p>
          <% @rants.each do |rant| %>
            <br><br><span><%= rant.user.name %> @ <%=rant.user.username%></span><span>   Posted <%= time_ago_in_words(rant.created_at) %> ago</span><br>
            <br>
            <span><%= rant.content %></span><br>
            <br>
            <span><%= rant.user.followers.count %> Followers</span>
            <span><%= rant.user.followeds.count %> Following</span><br>

        <% if current_user and @user != current_user %>
            <% if current_user.following? @user %>
              <span> <%= form_tag relationship_path, method: :delete do %>
                    <%= submit_tag "Unfollow" %></span>
                <% end %>
            <% else %>
                <%= form_for @relationship do %>
                    <%= hidden_field_tag :followed_id, @user.id %>
                    <%= submit_tag "Follow" %>
                <% end %>
            <% end %>
        <% end %>
          <% end %><br>
        </p>
    </div>
</div>
<%= paginate @rants %>
