<% if current_user %>
  <div class="panel right">
    <h1>Rage Rant?</h1>
    <p>
    <%= form_for @rant do |f|%>
      <%= f.text_area :content,skip_label:true, :size=> "100x5"%>
      <%= f.submit "Rant!" %>
      <% end %>
    </p>
  </div>
<% end %>

<div class="panel left">
    <h1>Your Rage Page</h1>
    <br>
    <h2>Your Rants</h2>
    <div>
        <span><%= @user.name %></span> @<%= @user.username %>
        <p>
        <%= @user.rant %>
        <span> Followers</span>
        <span> Following</span>
        </p>
    </div>
</div>

<div class="panel left">
    <% @users.each do |user| %>
      <%= user.username%>
    <% end %>
    <% @rants.each do |rant| %>
    <span> Posted <%= time_ago_in_words(rant.created_at) %></span>
      <p><%= rant.content %></p>
    <% end %>
</div>
