<h1>Public Rants </h1>


<% @rants.each do |rant| %>
  <a href="<%= user_path rant.user %>"><%= rant.user.name %></a>
  @<%= rant.user.username %>
  <p><%= rant.content %></p>
  <span>Posted <%= time_ago_in_words(rant.created_at) %> ago</span>
  <span><%= rant.user.followers.count %>   Followers</span>
  <span><%= rant.user.followeds.count %>   Following</span>
  <br>
  <br>
  <br>
  <% if current_user && rant.user != current_user %>
    <% if current_user.following? rant.user %>
      <%= form_tag relationship_path(current_user.relate(rant.user)), method: :delete do %>
        <%= submit_tag "Unfollow" %>
        <% end %>
    <% else %>
      <%= form_for current_user.relate(rant.user) do %>
        <%= hidden_field_tag :followed_id, rant.user.id %>
        <%= submit_tag "Follow" %>
        <% end %>
    <% end %>
  <% end %>


<% end %>
<br>

<%= paginate @rants %>
