<h1>Public Rants </h1>
<% @rants.each do |rant| %>
  <br><%= rant.user.name %> @ <%=rant.user.username%><br>
  <p><%= rant.content %></p>
  <span>Posted <%= time_ago_in_words(rant.created_at) %> ago</span><br>
<% end %>
<%= paginate @rants %>
