<!DOCTYPE html>
<html>
<head>
  <title>TeamTranslationTwitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <body>
      <header>
          <div>
              <img src="images/yelling.jpg">
              <span>RAGE RANT</span>
          </div>
      <div class = "col-xs-12 col-md-2">
        <% if @current_user%>
          <h6> Welcome, <%= @current_user.name %></h6>
          <%= link_to "Log out",  user_session_path(@current_user),method: :delete, :class => "btn btn-medium btn-primary" %>
          <%else%>
            <%= form_tag sessions_create_path do %>
              <%= text_field_tag "session[username]", nil, placeholder: "username" %>
              <%= password_field_tag "session[password]", nil,  placeholder: "password" %>
              <%= submit_tag "Log In"%>
              <%end%>
              <%= link_to "Sign Up for an Account", new_user_path, :class => "btn btn-medium btn-primary" %>
          <%end%>
      </div>
      </header>
      <div>
          <div>
              <% flash.each do |name, msg| %>
                  <%= content_tag :div, msg, class: "flash #{name}" %>
              <% end %>
              <%= yield %>
          </div>
      </div>
      <footer>
        <br>
          <div>
              Rage Rant - Tell us how you really feel!
          </div>
      </footer>
  </body>
  </html>
